#TEMPLATE FOR .ENV FILE FOR CONTRIBUTORS

APP_ENV=

#DATABASE CONFIG
DATABASE_USERNAME=
DATABASE_PASSWORD=
DATABASE_NAME=
DATABASE_HOST=
DATABASE_PORT=
DATABASE_URL=postgresql://${DATABASE_USERNAME}:${DATABASE_PASSWORD}@${DATABASE_HOST}:${DATABASE_PORT}/${DATABASE_NAME}

# TOKENS CONFIG
ACCESS_TOKEN_EXPIRE_MINUTES=
REFRESH_TOKEN_EXPIRE_MINUTES=
ALGORITHM=
COOKIE_DOMAIN=

#MAIL CONFIG
EMAIL_ADMIN=
SMTP_PORT=
SMTP_SERVER=
SMTP_USERNAME=
SMTP_PASSWORD=
SMTP_FROM_ADDRESS=

#FRONT URL
FRONTEND_URL=

#ALLOWED ORIGINS
ALLOWED_ORIGINS=

#DEFAULT ROLE ID
DEFAULT_ROLE_ID=