@import "../../styles/variables.scss";

.videoBackgroundVinylKeeper {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1000;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.imgMobileBackgroundVinylKeeper {
    background-image: url("mobileBackgroundLandpage.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1000;
}
.globalContainer {
    @keyframes fadeIn {
        0% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }
    }
    @keyframes fadeIn {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 0.8;
        }
    }

    .titleNormal {
        margin-top: 3rem;
        transition: margin-top 0.5s ease-in-out;
    }
    .titleHigher {
        margin-top: 0.3rem;
        transition: margin-top 0.5s ease-in-out;
    }
    .textContainer {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        flex-direction: column;
        margin-top: 10rem;
        .textTypo {
            font-family: Oswald-ExtraLight, sans-serif;
            font-weight: normal;
            font-size: 1.5rem;
            opacity: 0.8;
            color: #fffbf9;
            font-weight: 700;
            margin: 5rem 0;
        }
    }
    .buttonContainer {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .actionContainer,
    .actionContainerDisplayed {
        animation: fadeIn 0.5s ease-in-out forwards;
    }
    .globalContainer > * {
        animation: fadeIn 4s;
    }
    /*Login css*/
    .formContainer {
        background-color: #fffbf9;
        opacity: 0.7;
        padding: 0 1rem;
        border-radius: 5px;
        z-index: -998;
        .globalForm {
            margin-top: 2rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 0.7rem;
            .inputForm {
                color: #fffbf9;
            }
            .errorText {
                font-family: Oswald-Light, sans-serif;
                color: black;
                font-size: 0.9rem;
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .globalContainer {
        .textContainer {
            margin-top: 5rem;
            .textTypo {
                font-family: Oswald-Light;
                font-size: 1rem;
            }
        }
        /*Login css*/
        .formContainer {
            margin-top: 2rem;
            opacity: 0.9;
        }
    }
}
