@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.footerContainer {
    font-family: Oswald-Light, sans-serif;
    color: #fffbf9;
    opacity: 0.6;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    text-align: center;
    gap: 1rem;
    width: 99%;
    position: fixed;
    bottom: 0;
    animation: fadeIn 4s;

    & > * {
        animation: fadeIn 4s;
    }

    span {
        font-size: 1rem;
        cursor: pointer;

        .heartFooter {
            color: red;
        }
    }

    a {
        color: #fffbf9;
        text-decoration: none;
    }

    a:visited {
        color: #fffbf9;
    }
}

@media only screen and (min-width: 1200px) {
    .footerContainer {
        span {
            font-size: 1.2rem;
        }
    }
}

@media only screen and (min-width: 768px) and (max-width: 1199px) {
    .footerContainer {
        span {
            font-size: 1rem;
        }
    }
}

@media only screen and (max-width: 767px) {
    .footerContainer {
        align-items: flex-end;

        span {
            font-size: 0.7rem;
        }
    }
}
