.footerContainer {
    @keyframes fadeIn {
        0% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }
    }

    font-family: Oswald-Light, sans-serif;
    color: #fffbf9;
    opacity: 0.6;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    text-align: center;
    gap: 1%;
    width: 99%;
    position: fixed;
    bottom: 0;

    .footerContainer > * {
        animation: fadeIn 4s;
    }

    span {
        font-size: 1rem;
        cursor: pointer;
        .heartFooter {
            color: red;
        }
    }

    a {
        color: #fffbf9;
        text-decoration: none;
    }

    a:visited {
        color: #fffbf9;
    }
}
@media only screen and (min-width: 1200px) {
}

@media only screen and (min-width: 768px) and (max-width: 1199px) {
}

@media only screen and (max-width: 767px) {
    .footerContainer {
        color: #fffbf9;
        opacity: 0.6rem;
        display: flex;
        justify-content: center;
        flex-direction: row;
        align-items: flex-end;
        text-align: center;
        gap: 1%;
        width: 99%;
        position: fixed;
        bottom: 0;
        span {
            font-size: 0.7rem;
        }
    }
}
