/* FONTS */
@font-face {
    font-family: "RockSalt";
    src: url("/fonts/RockSalt-Regular.ttf");
}

@font-face {
    font-family: "Oswald";
    src: url("/fonts/Oswald-VariableFont_wght.ttf");
}

@font-face {
    font-family: "Oswald-Bold";
    src: url("/fonts/static/Oswald-Bold.ttf");
}

@font-face {
    font-family: "Oswald-Light";
    src: url("/fonts/static/Oswald-Light.ttf");
}

@font-face {
    font-family: "Oswald-ExtraLight";
    src: url("/fonts/static/Oswald-ExtraLight.ttf");
}

@font-face {
    font-family: "Oswald-Medium";
    src: url("/fonts/static/Oswald-Medium.ttf");
}

@font-face {
    font-family: "Oswald-Regular";
    src: url("/fonts/static/Oswald-Regular.ttf");
}

/* Variables de couleurs */
$primary-color: #1f1f1f; // Couleur principale (arrière-plan sombre)
$secondary-color: #c9a726; // Couleur dorée pour les accents
$text-color-light: #ffffff; // Texte clair
$text-color-dark: #000000; // Texte sombre
$hover-color: #3c3c3c; // Couleur de survol
$shadow-color: rgba(0, 0, 0, 0.3); // Ombre
$border-color: #333; // Couleur de la bordure
$button-color: #c9a726; // Couleur du bouton
$button-hover-color: #e0b936; // Couleur du bouton au survol

/* Mixin pour les transitions */
@mixin transition($properties: all, $duration: 0.3s, $ease: ease-in-out) {
    transition: $properties $duration $ease;
}
