/*FONTS*/
@font-face {
    font-family: "RockSalt";
    src: url("/public/fonts/RockSalt-Regular.ttf");
}

@font-face {
    font-family: "Oswald";
    src: url("/public/fonts/Oswald-VariableFont_wght.ttf");
}
